@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    font-size: 62.5%;
}
.mainDiv{
    min-height: 100vh;
    background-color: #060822;
    display: flex;
    justify-content: center;

}
.childDiv{
    text-align: center;
    margin-top: 12rem;
}
.childDiv figure img {
    width: 8rem;
    height: 10rem;
    
    background-color: transparent;
    background-image: none;
    
}
input{
    min-width: 40rem;
    height: 3.4rem;
    padding: 2rem 1.2rem;
    font-size: 1.8rem;
    line-height: 1.42857143;
    margin-top: 2rem;
    color: rgb(58,  57, 57);
    /* background-color: #fff; */
    background-image: none;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    
}
.fa{
    margin-left: -2.5rem;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    background-color: #fff;
    background-image: none;
    color: #666;
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
    font-size: 2rem;

  }
  .ti {
     
    margin-left: -2.5rem;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    /* background-color: #fff; */
    background-image: none;
    /* color: #fff; */
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
    font-size: 2.5rem;
    /* margin-right: 2.5rem; */

  }
  .childDiv figure figcaption {
    color: #fff;
    font-size: 2.2rem;
    padding-top: 2rem;
    text-transform: capitalize;
  }
  .showItems {
    margin-top: 3rem;
    text-align: center;
    color: #fff;
  }
  
  
  .eachItem {
    background: #fff;
    padding: 1.2rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
    margin-left: 1rem;
    min-width: 40rem;
    word-break: break-word;
    background: rgb(85, 41, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
h3{
    /* color: #fff;  */
    font-size: 18px;
    font-weight: 100;
}
.h3:hover{
    color: #060822;
    /* background-color: #060822; */
}
.eachItem:hover {
  background-color: #fff;
 color: #666;
 
  
}
.todoBtn {
    width: 8rem;
    display: flex;
    justify-content: space-around;
  }
  .fa:hover{
      color: green;
  }
  .ti:hover{
      color: red;
  }
  .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    
  }
  button{
      margin-bottom: 40px;
      margin-top: 20px;
  }
  .btn:hover {
    text-decoration: none;
  }
  .editBtn {
     
    margin-left: -2.5rem;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    /* background-color: #fff; */
    background-image: none;
    /* color: #fff; */
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
    font-size: 2.5rem;
    /* margin-right: 2.5rem; */

  }
  .editBtn:hover{
        color: green;
  }